/* 
    RESET
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 
    GENERAL
*/

body{
    background-color: rgb(251, 251, 251);
}
/* 
    HEADER
 */

header {
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 50px;
}
header h1, header img {
    vertical-align: middle;
}

h1{
    display: inline-block;
    font-size: 48px;
}

img {
    width: 65px;
}